@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Pacifico&display=swap');
html, body, #container {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: black;
}

body, #container, #canvas {
	overscroll-behavior: contain;
}

#pause-button {
	position: fixed;
	top: 15px;
	right: 15px;
	padding: 5px;
	color: white;
	background: none;
	border: none;
	outline: none;
}

#score-label {
	position: fixed;
	top: 15px;
	left: 15px;
	padding: 5px;
	color: white;
	border: none;
	background: none;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
}

#follow-us{
	position: fixed;
	top: 630px;
	left: 15px;
	padding: 5px;
	color: white;
	border: none;
	font-family: 'Inconsolata', monospace;
	font-size: 25px;
}

#instagram-link {
	position: fixed;
	top: 630px;
	left: 160px;
	padding: 5px;
	color: white;
	border: none;
	font-family: 'Inconsolata', monospace;
	font-size: 25px;
}

#github-link{
	position: fixed;
	top: 630px;
	left: 285px;
	padding: 5px;
	color: white;
	border: none;
	font-family: 'Inconsolata', monospace;
	font-size: 25px;
}

a { 
	color: rgb(252, 252, 252); 
	text-decoration: none;
}

a:hover{
	color: tomato;
	
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#canvas {
	border: 1px solid white;
	box-sizing: border-box;
}


